.navbar{
    background-color: #505CA9;
    color: white;
}

.navbar a{
    color: white;
    width: fit-content;
    cursor: pointer;
}

.navbar a:hover{
    color: #f1d2fe;

}
.container-fluid{
    width: 45%;
}


@media screen and (max-width: 970px) {
    .container-fluid{
        width: 80%;
    }
    
}