
<div class="d-flex con-div">
    
    <div class="col-5">
        <h1 style="font-size: 100px; margin-top: 25%;margin-left: 8%;">Welcome<br> to Posts </h1>
        <a routerLink="/signin" class="btn get-started px-5 py-2">Get Started</a>
    </div>
    <div class="col-7">
        <a routerLink="/signin" class="btn btn2" style="margin-left: 65%;
        ">Sign in</a>
        <a routerLink="/signup" class="btn btn2 sign ms-3">Sign up</a>

        <img src="../../../assets/5612.jpg" alt="5612" class="w-100">
    </div>
</div>